<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="https://drive.google.com/file/d/1F5USdZ_IHB5fbnhdUMdn1yFh8TU3C5pv/view?usp=sharing">CV</a></li>
				<li><a href="/publications">Publications</a><li>
				<li><a href="/Awards">Awards</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:reachme.atul@gmail.com">email</a></li>
	        		<li><a href="https://github.com/atul1234anand">github</a></li>
				<li><a href="https://scholar.google.com/citations?user=-0P-3sYAAAAJ&hl=en">google scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
